{% extends 'index.html' %}
{% load static %}
{% block content %}
<div style="text-align: left">
  <table style="width: 100%">
    <tr>
      <th><h1>Contacts</h1></th>
    </tr>
    <tr>
      <th>Firstname</th>
      <th style="text-align: left">Lastname</th>
      <th style="text-align: left">Age</th>
    </tr>
    {% for contact in contacts %}
    <tr>
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td>{{contact.email}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<a href="{% url 'Blog:blog_list'%}">Blog List</a>
{% endblock content %}
